[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/robertbagge/claude-starter-devcontainer
[submodule "docs/clean-code"]
	path = docs/clean-code
	url = https://github.com/robertbagge/clean-code.git
